apiVersion: extensions.agents.x-k8s.io/v1alpha1
kind: SandboxWarmPool
metadata:
  name: python-sandbox-warmpool
  namespace: {{ Namespace }}
spec:
  replicas: {{ WarmPoolSize }}
  sandboxTemplateRef:
    name: {{ TemplateName }}
